.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-btn {
  width: 150px;
  height: 30px;
}

.firstBtn {
  position: absolute;
  top: 167px;
  left: 50%;
  transform: translateX(-50%);
}